---
layout: default
title: Ervaringen
section_id: ervaringen
skills:
  - title: Web Design
    percentage: 84
  - title: Web Development
    percentage: 95
  - title: Site Management
    percentage: 70
  - title: Branding
    percentage: 61
---

<div class='full parallax' style='background-image: url(images/@stock/); color: #0D1826;'>
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="Ervaringen" color="#0D1826" tagline="Lees wat anderen vinden van onze koppelingen" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>
<!-- 
<div class='full'>
  <div class='row'>
    <div class='medium-6 columns'>
      <h3>Our history</h3>
      <p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.</p>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.</p>
    </div>
    <div class='medium-6 columns'>
      <h3>Our skills</h3>
      <div class='mod modBarGraph'>
        <ul class='bars'>
          {% for skill in page.skills %}
            <li>
              <h4 style=''>
                {{skill.title}}
                <strong>{{skill.percentage}}%</strong>
              </h4>
              <p class='highlighted' data-percent='{{skill.percentage}}'></p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>


<div class='full'>
  <div class='row'>
    {% for member in site.data.members %}
      <div class='small-6 medium-3 large-3 columns'>
        <div class='mod modTeamMember'>
          <div class='member'>
            <img class="avatar" alt="" src="{{ member.avatar }}" />
            <div class='overlay'>
              <div class='intro'>
                <h3>{{member.name}}</h3>
                <p>{{member.position}}</p>
                <ul class='socials'>
                  {% for social in member.socials %}
                    <li>
                      <a href='{{social.link}}'>
                        <i class='fa fa-{{social.icon}}'></i>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <p class='centered-text'>{{member.desc}}</p>
          <div class='two spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
 -->
 <div class='full parallax' style='background-image: url(images/@stock/); color: #0D1826;'>
  <div class='row'>
    <div class="elfsight-app-1327ba0a-6c80-4d84-a611-7103b59740b7">
      <script src="https://apps.elfsight.com/p/platform.js" defer></script>
    </div>
  </div>
  <div class='four spacing'></div>
</div>

 

{% include our-customers.html %}

<div class='full parallax' style='background-image: url(images/@stock/); color: #0D1826;'>
  <div class='row'>
    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
    <div class="elfsight-app-c0982f0c-d10f-4dd6-9a38-89295b4ac302"></div>
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full no-padding' style='background: #fff'>
  <div class='two spacing'></div>
  <div class='mod modCallToAction'>
    <div class='row'>
      <div class='medium-9 large-9 columns'>
        <p>Nieuwsgierig naar onze boekhoudkoppelingen? Probeer gerust 30 dagen GRATIS uit.</p>
      </div>
      <div class='medium-3 large-3 columns'>
        <a class='button' href='/koppelingen'>Onze koppelingen</a>
      </div>
    </div>
  </div>
  <div class='spacing'></div>
</div>