---
layout: categorie
title: Facturatie koppelingen
tagline: Koppel nu snel je facturatiepakket aan je boekhoudpakket
section_id: koppelingen
---
{% for application in site.applications %}
  {% if application.klass contains "facturatie" %}
    <li class="{{ application.klass }}">
      <a href='{{ application.link_to }}'>
        <img alt="" src="{{ application.image }}"/>
        <div class='overlay'>
          <div class='thumb-info'>
            <h3>{{ application.title }}</h3>
            <p>{{ application.desc }}</p>
          </div>
        </div>
      </a>
    </li>
  {% endif %}
{% endfor %}
