---
layout: default
title: Koppelingen
section_id: koppelingen
---


<div class='full parallax' style='background-image: url(images/@stock/portfolio-header-bg.png); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Boekhoudkoppelingen" tagline="Selecteer een categorie waarvoor je een koppeling zoekt" color="#0D1826" class="big" %}
    </div>
  </div>
  <div class='no spacing'></div>
  <div class="full">
    <div class="row">
      <div class='mod modGallery'>
        <ul class='gallery large-block-grid-4 medium-block-grid-3 small-block-grid-2'>
          {% for categorie in site.categorieen %}
          <li class="{{ categorie.klass }}">
            <a href='{{ categorie.link_to }}'>
              <img alt="" src="{{ categorie.image }}"/>
              <div class='overlay'>
                <div class='thumb-info'>
                  <h3>{{ categorie.title }}</h3>
                  <p>{{ categorie.desc }}</p>
                </div>
              </div>
            </a>
            <h3 align="center">{{ categorie.title }}</h3>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>


<div class='full parallax' style='background-image: url(images/@stock/portfolio-header-bg.png); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Boekhoudpakketten" tagline="Selecteer het boekhoudpakket dat je wilt
      koppelen" color="#0D1826" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>


<div class='full'>
  <div class='row'>
    <div class='mod modGallery'>
      <!-- <div class='gallery-nav'>
        <ul>
          <li class='current'>
            <a data-cat='all' href='#'>All</a>
          </li>
          <li>
            <a data-cat='graphic-design' href='#'>Graphic Design</a>
          </li>
          <li>
            <a data-cat='web-design' href='#'>Web Design</a>
          </li>
          <li>
            <a data-cat='brand' href='#'>Brand</a>
          </li>
          <li>
            <a data-cat='development' href='#'>Development</a>
          </li>
          <li>
            <a data-cat='print' href='#'>Print</a>
          </li>
        </ul>
      </div> -->

      {% include boekhoudpakketten-grid.html %}
    </div>
  </div>

  <div class='four spacing'></div>
</div>

{% include our-customers.html %}