---
layout: default
title: Prijzen
section_id: prijzen
services_left:
  - icon: shopping-cart
    title: Webshop koppelingen
    link: /webshop-koppelingen
    color_class: category-color-webshop
    desc: Onze webshopkoppelingen starten vanaf 6 euro per maand. De meeste van onze koppelingen hebben geen limiet op het aantal facturen.
  - icon: users
    title: CRM koppelingen
    link: /crm-koppelingen
    color_class: category-color-crm
    desc: De prijzen voor onze CRM koppelingen starten vanaf 12 euro per maand, ongelimiteerd aantal facturen. Betaal je per jaar dan krijg je 2 maanden korting.
services_right:
  - icon: file-text
    title: Facturatie koppelingen
    link: /facturatie-koppelingen
    color_class: category-color-facturatie
    desc: De prijzen voor onze facturatie koppelingen starten vanaf 12 euro per maand, ongelimiteerd aantal facturen. Betaal je per jaar dan krijg je 2 maanden korting.
  - icon: credit-card
    title: Kassa koppelingen
    color_class: category-color-kassa
    desc: De prijzen voor onze Kassa koppelingen starten vanaf 12 euro per maand, ongelimiteerd aantal facturen. Betaal je per jaar dan krijg je 2 maanden korting.
---

<div class='full parallax' style='background-image: url(images/@stock/); color: #0D1826;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Onze prijzen" tagline="Hieronder de verschillende prijzen per categorie" color="#0D1826" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>


<div class='full'>
  <div class='row'>
    <div class='medium-6 columns'>
      {% for service in page.services_left %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <a href="{{service.link}}">
              <i class='fa fa-{{service.icon}} {{service.color_class}}'></i>
              <h3>{{service.title}}</h3>
            </a>
            <p>{{service.desc}}</p>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div>
    <div class='medium-6 columns'>
      {% for service in page.services_right %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <a href="{{service.link}}">
              <i class='fa fa-{{service.icon}} {{service.color_class}}'></i>
              <h3>{{service.title}}</h3>
            </a>
            <p>{{service.desc}}</p>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class='spacing'></div>
</div>