<ul class='gallery large-block-grid-4 medium-block-grid-3 small-block-grid-2'>
  {% for koppeling in site.koppelingen %}
  {% if koppeling.klass contains "boekhoud" and koppeling.publish != false %}
  <li class="{{ koppeling.klass }}">
    <a href='{{ koppeling.link_to }}'>
      <img alt="" src="{{ koppeling.image }}"/>
      <div class='overlay'>
        <div class='thumb-info'>
          <h3>{{ koppeling.title }}</h3>
          <p>{{ koppeling.desc }}</p>
        </div>
      </div>
    </a>
  </li>
  {% endif %}
  {% endfor %}
  <li>
    <a href='/contact'>
      <img src="/images/@stock/add-app-icon-400.png"/>
      <div class='overlay'>
        <div class='thumb-info'>
          <h3>Mist jouw koppeling?</h3>
          <p></p>
        </div>
      </div>
    </a>
  </li>
</ul>
