<div class='full parallax' style='background: #fff'>
  <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
        <i class='fa fa-quote-left' style='color: #02C8A7; font-size: 36px;'></i>
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Wat zeggen onze gebruikers?" %}
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modTestimonials'>
        <div class='row'>
          <div class='small-12 columns'>
            <div class='items centered-text'>
              {% for testimonial in site.data.testimonials %}
              <div class='item'>
                <p class='quote'>"{{testimonial.quote}}"</p>
                <p class='author'>- {{testimonial.author}}</p>
                <div class='two spacing'></div>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class='spacing'></div>
        </div>
      </div>
    </div>
  </div>
</div>
