<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include header.html %}

<div id='main' role='main' class="koppelingen">
  <div class='full parallax' style='background-image: url(images/@stock/portfolio-header-bg.png); color: #fff;'>
    <div class='row'>
      <div class='large-12 columns'>
        {% capture title %}
        {{ page.title }}
        {% endcapture %}
        {% capture tagline %}
        {{ page.tagline }}
        {% endcapture %}
        {% include section-header.html title=title tagline=tagline color="#0D1826" class="big" %}
      </div>
    </div>
    <div class='row'>
      <div class='mod modGallery'>

        <ul class='gallery large-block-grid-4 medium-block-grid-3 small-block-grid-2'>
          {{ content }}
        </ul>

      </div>
    </div>

    <div class="row">
      <!--<div class='mod modGallery'>-->

      {% capture key %}
      {{ page.key }}
      {% endcapture %}

      {% for koppeling in site.koppeling %}
      {% if koppeling.publish != false and koppeling.from == page.key or koppeling.to == page.key %}

      {% assign fromapp = site.koppelingen | where:"key", koppeling.from | first %}
      {% assign toapp = site.koppelingen | where:"key", koppeling.to | first %}

      <div class="large-6 small-12 columns {{ koppeling.klass }}">
        <div class="koppeling">
        <a href='{{ koppeling.link_to }}'>
          <div class="centered-text">
            <img alt="{{koppeling.title}}" class="logo-medium" src="{{fromapp.image}}"/>
            <i class="fa fa-plus-square plus-icon" aria-hidden="true"></i>
            <img alt="{{koppeling.title}}" class="logo-medium" src="{{toapp.image}}"/>
          </div>
          <div class='centered-text'>
            <h3>{{ koppeling.title }}</h3>
            <p>{{ koppeling.desc }}</p>
          </div>
        </a>
        </div>
      </div>
      {% endif %}
      {% endfor %}

    </div>
  </div>
  <div class='four spacing' style='background: #F2F2F2'></div>
</div>
</div>
<div class='full no-padding' style='background: #fff'>
  <div class='two spacing'></div>
  <div class='mod modCallToAction'>
    <div class='row'>
      <div class='medium-9 large-9 columns'>
        <p>Staat je koppeling er niet tussen? Laat het ons weten.</p>
      </div>
      <div class='medium-3 large-3 columns'>
        <a class='button' href='/contact'>Aanvragen</a>
      </div>
    </div>
  </div>
  <div class='spacing'></div>
</div>

{% include footer.html %}

</body>

</html>
