---
layout: default
title: Koppeling
section_id: koppelingen
---
{% assign fromapp = site.koppelingen | where:"key", page.from | first %}
{% assign toapp = site.koppelingen | where:"key", page.to | first %}

  <div class='full'>
      <div class='four spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class="centered-text">
        <a href="{{ fromapp.referral-url }}" target="_blank">
          <img alt="{{page.title}}" class="logo-small" src="{{fromapp.image}}"/>
        </a>
        <i class="fa fa-plus-square" aria-hidden="true"></i>
        <a href="{{ toapp.referral-url }}" target="_blank">
          <img class="logo-small" src="{{toapp.image}}"/>
        </a><br/>
      </div>
      <div>
        <h1 class='centered-text'>{{ page.title }}</h1>
      </div>
      <!-- <div class="centered-text">
        <i>Ontwikkeld door <a href="{{ page.developer-url }}" target="_blank">{{ page.developer }}</a></i>
      </div> -->
      <div class='spacing'></div>
      <div class="large-12 columns centered-text">
        {{ page.excerpt }}
      </div>
      <div class='four spacing'></div>
      <div class="large-12 columns centered-text">
        <a class='button {{ button.klass }}' style="margin-bottom:0px;" href='{{ page.install-url }}' target="_blank">Probeer {{ page.trial-days}}
          dagen gratis</a>
        <!-- <div class="centered-text">{{ page.trial-days}} dagen gratis uitproberen</div>
      </div> -->
      <div class="large-12 columns">
        <div class="centered-text">Daarna <sup>&euro;</sup><span
            style="font-size:20px;">{{ page.price-per-month }}</span> per maand
            <div class='four spacing'></div>
        </div>
      </div>
    </div>
    <!-- <div class='large-6 columns'>
      {% if page.video-url %}
       insert your video here
      {% elsif page.main-image-url %}
        <img src="{{page.main-image-url}}"/>
      {% else %}
        <img src="{{page.image}}"/>
     {% endif %}
    </div> -->
    <!-- <div>
        <img alt="{{page.title}}" class="logo-small" src="{{page.logo-from}}"/>+<img class="logo-small" src="{{page.logo-to}}"/><br/>
      </div> -->
  </div>
  <div class='four spacing'></div>

  <div class="row">
    <div class="medium-3 large-3 columns">
      {% include icon-text.html title='Bespaar veel tijd' desc='Geen handmatig werk meer nodig. Houd tijd over voor
      belangrijkere zaken.' icon_class='fa fa-clock-o' delay='0' shape_class='icon-text-circle' %}
    </div>
    <div class="medium-3 large-3 columns">
      {% include icon-text.html title='Maak minder fouten' desc='Door een geautomatiseerde koppeling te gebruiken heb je
      een voorspelbaar resultaat in je boekhouding.' icon_class='fa fa-check-square-o' delay='200'
      shape_class='icon-text-circle' %}
    </div>
    <div class="medium-3 large-3 columns">
      {% include icon-text.html title='Real-time synchronisatie' desc='Binnen een uur je boekhouding bijgewerkt. Onze
      koppelingen zijn real-time en zorgen voor een actuele boekhouding.' icon_class='fa fa-refresh' delay='400'
      shape_class='icon-text-circle' %}
    </div>
    <div class="medium-3 large-3 columns">
      {% include icon-text.html title='Betrouwbaar en snel' desc='Onze koppelingen zijn betrouwbaar en blijven
      up-to-date.' icon_class='fa fa-thumbs-o-up' delay='600' shape_class='icon-text-circle' %}
    </div>
  </div>

  <div class='four spacing'></div>
  <div class="row">
    <div class="large-7 columns">
      <h2>Hoe werkt deze koppeling?</h2>
      <p>{{ content }}</p>
    </div>
    <div class="large-4 columns">
      <h2>Support</h2>
      <ul>
        <li><a href="{{ page.developer-url }}" target="_blank">Ontwikkelaar: {{page.developer}}</a></li>
        <li><a href="{{ page.manual-url }}" target="_blank">Installatiehandleiding</a></li>
        <li><a href="{{ page.privacy-url }}" target="_blank">Privacy</a></li>
        <li><a href="{{ page.support-url }}" target="_blank">Contact Support</a></li>
      </ul>
      <br>
      <br>
      <h2>Prijzen</h2>
      De proefperiode bedraagt {{ page.trial-days}} dagen, daarna kost de koppeling {{ page.price-per-month }} euro per
      administratie per maand (of {{ page.price-per-year }} euro per jaar - 2 maanden korting bij een jaarlicentie).
      <br></br>
      <br>
      <br>
      <h2>Accounts</h2>
      Om deze koppeling te kunnen gebruiken heb je een account nodig van onderstaande softwarepakketten.
      <a href="{{ fromapp.referral-url }}" target="_blank"><img alt="{{page.title}}" class="logo-small"
                                                                  src="{{fromapp.image}}"/></a><i
        class="fa fa-plus-square" aria-hidden="true"></i><a href="{{ toapp.referral-url }}" target="_blank"><img
        class="logo-small" src="{{toapp.image}}"/></a><br/>
      <br/>
    </div>
  </div>
  <div class='four spacing'></div>
  <div class="row">
    <div class="large-12 columns">
      <h2>Screenshots</h2>
    </div>
    {% for screenshot in page.screenshots %}
    <div class="large-4 columns">
      <div class="margin-bottom-10"><img src="{{ screenshot.image }}"/></div>
    </div>
    {% endfor %}
  </div>
</div>

<!--<div class='full'>-->
  <!--<div class='row'>-->
  <!--<div class='large-12 columns'>-->
  <!--<div class='mod modBoxedSlider'>-->
  <!--<div class='slides'>-->
  <!--<div class='slide'>-->
  <!--<img alt="" src="/images/@stock/big-work-1.jpg" />-->
  <!--</div>-->
  <!--<div class='slide'>-->
  <!--<img alt="" src="/images/@stock/big-work-2.jpg" />-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
<!--</div>-->


<div class='full'>
  <div class='two spacing'></div>
  <div class='row'>
    <div class='large-12 columns centered-text'>
      <a class='button {{ button.klass }}' style="margin-bottom:center;" href='{{ page.install-url }}' target="_blank">Probeer
        deze koppeling {{ page.trial-days}} dagen gratis</a>
    </div>
  </div>
  <div class='two spacing'></div>
</div>

<div class='two spacing'></div>


{% include testimonials.html %}

{% include our-customers.html %}